<h1> About Me </h1>
<div class="well"><p>I'm working on third time's the charm :)</p><p> This is a whole lot of text just talkig about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means to talk about what it means. </p></div>
<%= link_to "2 Parts", "http://youtubedoubler.com/?video1=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DMmBrepbZji0&start1=0&video2=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DMmBrepbZji0&start2=49&authorName=Jord", class: "btn btn-success btn-lg" %>


<h3 align= "right">This is where I live!</h3>

<iframe align= "right" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6112.487922965281!2d-83.01687236926172!3d40.00299788301854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88388e99dbc42b0f%3A0x821f1bc1625eb7b2!2s328+W+Lane+Ave%2C+Columbus%2C+OH+43201!5e0!3m2!1sen!2sus!4v1458372320767" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
