<div class='jumbotron center'> 
<h1>Welcome to my WORKING App ;)</h1>
 <% if user_signed_in? %>
          Eat my dick :*
     <% else %>
		<p>
			<%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-success btn-lg" %>
		</p>
	<% end %>

</div>