// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
   margin: 0 auto;
}

.box {
   margin: 5px;
   width: 214px;
}

.box img {
   width: 100%;
}


div {
   word-wrap: break-word;
}

.panel_body {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 70.2px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}